#snackbarDR, #snackbarDRupd {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  /* background-color: #00C851; */
  
  background-color: #000;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: absolute;
  z-index: 100;
  right: 100%;
  top: 100%;
  font-size: 17px;
  transform: translate(-50%, 0);
}

#snackbarDRdel {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #c80000;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: absolute;
  z-index: 100;
  right: 2%;
  top: 2%;
  font-size: 17px;
  transform: translate(-50%, 0);
}

#snackbarDR.show, #snackbarDRupd.show, #snackbarDRdel.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#toastParent {
  position: relative;
}

@-webkit-keyframes fadein {
  from {top: 0; opacity: 0;} 
  to {top: 2%; opacity: 1;}
}

@keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 2%; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {top:2%; opacity: 1;} 
  to {top: 0; opacity: 0;}
}

@keyframes fadeout {
  from {top: 2%; opacity: 1;}
  to {top: 0; opacity: 0;}
}