@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

  .scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #EDE7F6;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #673AB7;
    border-radius: 100vh;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #B39DDB;
    border-left: 2px solid #B39DDB;
    transition: all 0.4s;
  }
}