.snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #00C851;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 100;
  right: 2%;
  top: 2%;
  font-size: 17px;
}

.snackbar.show {
  /* opacity: 1; */
  visibility: visible;
  /* pointer-events: none; */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* .snackbar .message {
  display: inline-block;
  margin-right: 12px;
} */

@-webkit-keyframes fadein {
  from {top: 0; opacity: 0;} 
  to {top: 2%; opacity: 1;}
}

@keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 2%; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {top:2%; opacity: 1;} 
  to {top: 0; opacity: 0;}
}

@keyframes fadeout {
  from {top: 2%; opacity: 1;}
  to {top: 0; opacity: 0;}
}

/* .snackbar .close-btn {
    background: none;
    border: none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    padding: 4px;
    border-radius: 50%;
    transition: background-color 0.3s ease-in-out;
}

.snackbar .close-btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
}   */